@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
h1,h2,h3,h4,h5,h6,ul,ol,p{
    margin: 0;
    padding: 0;
}

:root{
    --poppins:  "Poppins", sans-serif;
    --sanse: "Work Sans", sans-serif;
    --primary: #132238;
    --secondary: #556070;
    --brand: #A53DFF;
}
body{
    background: url("../images/homepage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.primary_btn{
   padding: 12px 24px;
    font-weight: 500;
    color: white;
    font-family: var(--sanse);
    background-color: var(--brand);
    border: none;
    border-radius: 4px;
}

/* ==============================
        Common Css End
=============================== */
/* ==============================
        Main-Menu Start
=============================== */
.main_menu{
    padding: 20px 0;
    background-color: white;
}
.main_menu ul li a{
    font-size: 16px;
    font-weight: 500;
    color: var(--primary) !important;
    font-family: var(--sanse);
    padding: 12px 24px !important;
}
/* ==============================
        Main-Menu End
=============================== */
/* ==============================
        Banner Start
=============================== */
#banner{
    padding: 126px 0 222px;
}
.banner_content{
    margin-top: 52px;
}
.banner_content h1{
    max-width: 578px;
    font-size: 72px;
    font-weight: 600;
    color: var(--primary);
    font-family: var(--sanse);
    line-height: 84px;
}
.banner_content > p{
    max-width: 648px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--sanse);
    color: var(--secondary);
    padding: 24px 0;
}

.banner_content .experiences{
    margin-top: 142px;
    display: flex;
    gap: 5px;
}
.banner_content .experiences .item{
    width: 224px;
    text-align: center;
    background-color: rgba(237, 216, 255, 0.50);
    padding: 17px 0;
}
.banner_content .experiences .item h3{
    font-size: 32px;
    font-weight: 600;
    color: var(--primary);
    font-family: var(--sanse);
}
.banner_content .experiences .item p{
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary);
    font-family: var(--sanse);
}
.banner_img{
    border-radius: 25px;
    overflow: hidden;
}
/* ==============================
        Banner End
=============================== */
/* ==============================
        Main-Menu Start
=============================== */


/* ==============================
        Main-Menu End
=============================== */
/* ==============================
        Main-Menu Start
=============================== */


/* ==============================
        Main-Menu End
=============================== */
/* ==============================
        Main-Menu Start
=============================== */


/* ==============================
        Main-Menu End
=============================== */
/* ==============================
        Main-Menu Start
=============================== */


/* ==============================
        Main-Menu End
=============================== */
/* ==============================
        Main-Menu Start
=============================== */


/* ==============================
        Main-Menu End
=============================== */
/* ==============================
        Main-Menu Start
=============================== */


/* ==============================
        Main-Menu End
=============================== */